.title {
  background-image: url(../../assets/images/textgradient.jpg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Pacifico;
  font-size: 3em;
  text-decoration: none;
}
