@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap");

.vapor {
  font-family: "Noto Sans TC";
  position: relative;
  width: 100%;
  cursor: pointer;
  text-shadow: -0.0625rem -0.0625rem 0 #6bffff, 0.0625rem 0.0625rem 0 #ff819e;
}
